@import 'colors';
@import 'fonts';
.contact-main-content-container{
  height: 850px;
  background-color: @primary;
  position: center;
  display: inline-block;
  width: 74%;
}
.contact-sidebar {
  height: 850px;
  display: inline-block;
  background-color: @secondary;
  width: 13%;
}
.form-field{
  height: 50px;
  padding: 20px;
  display: flex;
  flex-flow: column nowrap;

}
.form-field-message{
  height: 300px;
  padding: 20px;
  display: flex;
  flex-flow: column nowrap;

}
.label {
  color: @textColor;
  font-family: Raanana, sans-serif;
  font-size: 16px;
}
.input {
  width: 400px;
  height: 200px;
  border-radius: 10px;
  border:none;
}
.input-message {
  width: 400px;
  height: 800px;
  border-radius: 10px;
  border:none;
  text-align: left;
}
.submitButton-container{
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}
.submitButton {
  width: 85px;
  height: 40px;
  border: none;
  border-radius: 10px;
  color: @primary;
  background-color: @textColor;
  font-family: Raanana, sans-serif;
  font-size: 14px;
}
.submitButton:hover{
  border: 2px solid @secondary;
}
