@import 'colors';
.banner-container {
  background-image: url('../img/hoemImage2.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 300px;
}
.sidebar{
  display: inline-block;
  background-color: @secondary;
  height: 800px;
  width: 13%;
}
.sidebar-left{
  float: left;
}
.main-content-container {
  background-color: @primary;
  position: center;
  display: inline-block;
  height: 800px;
  width: 74%;

}
.sidebar-right {
  float: right;
}
