@import 'colors';
@import 'fonts';
* {
  margin: 0;
}
html {
  width: 100%;
}
body {
  min-width: 100%;
}
.nav-container {
  height: 70px;
  background-color: @primary;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
.links {
  position: relative;
  list-style-type: none;
  padding: 25px 0px;
}
.links li {
  color: @textColor;
  text-decoration: none;
  display: inline-block;
  padding: 0px 20px;
}
.links li a {
  text-decoration: none;
  font-family: @Pacifico, cursive;
  font-size: 16px;
}
.logo {
  position: center;
  padding: 15px 70px;
  color: @textColor;
  font-size: 35px;
}
.icon-container{
  width: 350px;
  height: 70px;
}
.link-container {
  width: 450px;
  height: 70px;
}
.footer {
  background-color: @textColor;
  height: 60px;
}