@import 'colors';
* {
  margin: 0;
}
html {
  width: 100%;
}
body {
  min-width: 100%;
}
.nav-container {
  height: 70px;
  background-color: @primary;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}
.logo {
  position: center;
  padding: 10px;
}
.icon-container{
  width: 80px;
  height: 70px;
}
.link-container {
  width: 450px;
  height: 70px;
  background-color: black;
}